h1 {
    background-color: grey;
    text-align: center;
    font-size: 25px;
    font-family: Helvetica;
}


/*img {
    height: 200px;
    width: fit-content;
    margin-right: 400px;
    margin-left: 400px;
} */